@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600;900&family=Montserrat&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color:#f6ebd7;
    font-family: 'Montserrat', sans-serif;
}

/*Header - Menú Superior*/
.header{
    background-color: #482b19;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 5px, 10%;
}

nav{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    color: #f6ebd7;
}

#logo{
    color: #f6ebd7; 
    text-decoration: none;
    font-family: 'Gabarito';
    font-weight: 900;
}

.header .logo{
    height: 70px;
    width: auto;
    margin: 2%;
    margin-right: auto;
    margin-top: auto;
    padding: 2%;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .logo:hover{
    transform: scale(1.2);
}

.header a{
    color: #f6ebd7;
}

.header .menuTop a:hover{
    color: #7dc08b;
    transform: scale(1.1);
}

.header .menuTop{
    list-style: none;
    font-size: 18px;
}

.header .menuTop li{
    display: inline;
    padding: 0 20px;
}

.header .menuTop a{
   font-size: 700;
   text-decoration: none; 
}

.header .btn button{
    font-size: 18px;
    font-family: 'Montserrat';
    width: 170px;
    color: #f6ebd7;
    padding: 5%;
    margin: 10%;
    margin-left: 5%;
    background-color: #7dc08b;
    border: none ;
    border-radius: 50px;
    transition: all 0.3 ease 0s;
    cursor: pointer;
    box-shadow:  none;
}

.header .btn button:hover{
    background-color: #f6ebd7;
    color: #7dc08b;
    /*transform: scale(1.1);*/
}

#bannerRegistro{
    display: flex;
}

#bannerRegistro img{
    width:70%;
    height: 650px;
    object-fit: cover;
}

#bannerRegistro div{
    text-align: center;
    margin: 5%;
    margin-top: 200px;
    padding: auto;
}

#bannerRegistro h1{
    font-family: 'Gabarito';
    font-weight: 900;
    font-size: 50px;
    margin: 10%;
    color: #482b19;
}

#bannerBeneficios{
    padding: 10%;
    background-color: #7dc08b;
    display: flex;
    justify-content: space-around;
}

#bannerBeneficios{
    text-align: center;
}

#bannerBeneficios h3{
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    color: #f6ebd7;
    margin-top: 20px;
}

.imgRounded{
    margin: 2%;
    width:300px;
    height:300px;
    border-radius:150px;
    object-fit: cover; 
    box-shadow:  1px 1px 4px #482b19;
    background-color: white;
}

#bannerStories01 {
    display: flex;
    padding: 8%;
    justify-content: space-between;
}

#bannerStories01 h1{
    font-family: 'Gabarito';
    font-weight: 900;
    font-size: 60px;
    margin: 5%;
    margin-bottom: 10%;
    color: #482b19;
}

#bannerStories01 p{
    width: 600px;
    margin: 5%;
    font-size: 20px;
}

#bannerStories01 img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#bannerStories02 {
    display: flex;
    padding: 8%;
    justify-content: space-between;
}

#bannerStories02 h1{
    font-family: 'Gabarito';
    font-weight: 900;
    font-size: 60px;
    margin: 5%;
    margin-bottom: 10%;
    color: #482b19;
    text-align: right;
}

#bannerStories02 p{
    width: 600px;
    margin: 5%;
    font-size: 20px;
    text-align: right;
}

#bannerStories02 img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#bannerDesafios{
    padding: 10%;
    text-align: center;
    background-image: url(../img/bg_bannerDesafios.svg);
}

#bannerDesafios h2{
    font-family: 'Gabarito';
    font-weight: 900;
    font-size: 40px;
    color: #482b19;
    text-align: center;
    margin: 5%;
    margin: 50px; 
}

#cardContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.card{
    width: 30%;
    height: auto;
    background-color: #482b19;
    color: #f6ebd7;
    border-radius: 25px;
    box-shadow:  1px 1px 4px #482b19;
}

.card h3{
    margin: 4%;
    margin-top: 7%;
    font-family: 'Gabarito';
    font-weight: 300;
    font-size: 25px;
}

.card p{
    margin: 5%;
    margin-top: 2%;
    padding: 5%;
}

#cardDesafio01{
    background-image: url(../img/img22.jpg); 
    height: 200px;
    width:auto;
    background-size: cover;
    border-top-right-radius: 25px ;
    border-top-left-radius: 25px;
}

#cardDesafio02{
    background-image: url(../img/img23.jpg); 
    height: 200px;
    width:auto;
    background-size: cover;
    border-top-right-radius: 25px ;
    border-top-left-radius: 25px;
}

#cardDesafio03{
    background-image: url(../img/img06.jpg); 
    height: 200px;
    width:auto;
    background-size: cover;
    border-top-right-radius: 25px ;
    border-top-left-radius: 25px;
}

#bannerDesafios{
    padding: 10%;
    text-align: center;
}

#bannerRecetas {
    font-family: 'Gabarito';
    font-weight: 900;
    font-size: 40px;
    color: #482b19;
    text-align: center;
    margin: 5%;
    margin: 50px; 
    margin-bottom: 100px;
}

#cardRecetas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 70px;
    margin:5%
}

#cardReceta01{
    background-image: url(../img/img10.jpg);
    height: 500px;
    width:25%;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    padding-top:200px ;
    box-shadow:  1px 1px 4px #a39a94;
}

#cardReceta02{
    background-image: url(../img/img11.jpg);
    height: 500px;
    width:25%;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    padding-top:200px ;
    box-shadow:  1px 1px 4px #a39a94;
}

#cardReceta03{
    background-image: url(../img/img14.jpg);
    height: 500px;
    width:25%;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    padding-top:200px ;
    box-shadow:  1px 1px 4px #a39a94;
}

button{
    font-size: 15px;
    font-family: 'Montserrat';
    color: #f6ebd7;
    margin: 4%;
    padding: 3%;
    background-color: #fec037;
    border: none ;
    border-radius: 50px;
    transition: all 0.3 ease 0s;
    cursor: pointer; 
    box-shadow:  1px 1px 4px #a39a94;
}

/*Footer - Menú Inferior*/
footer{
    background-color: #482b19;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
    padding: 5px, 10%;
}

footer #logo{
    height: 70px;
    width: auto;
    margin: 2%;
    margin-right: auto;
    padding: 2%;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

footer .logo:hover{
    transform: scale(1.2);
}

footer a{
    color: #f6ebd7;
}

footer .menuBottom a:hover{
    color: #7dc08b;
    transform: scale(1.1);
}

footer .menuBottom{
    list-style: none;
    font-size: 18px;
}

footer .menuBottom li{
    display: inline;
    padding: 0 20px;
}

footer .menuBottom a{
   font-size: 700;
   text-decoration: none; 
}

footer .btn button{
    font-size: 18px;
    font-family: 'Montserrat';
    width: 170px;
    color: #f6ebd7;
    padding: 5%;
    margin: 10%;
    margin-left: 5%;
    background-color: #7dc08b;
    border: none ;
    border-radius: 50px;
    transition: all 0.3 ease 0s;
    cursor: pointer;
    box-shadow:  none;
}

footer .btn button:hover{
    background-color: #f6ebd7;
    color: #7dc08b;
    /*transform: scale(1.1);*/
}
